<h2>Books Listing</h2>

<%= will_paginate @books %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sort_link @search, :isbn, "ISBN" %></th>
      <th><%= sort_link @search, :title, "Title" %></th>
      <th><%= sort_link @search, :author, "Author" %></th>
      <th><%= sort_link @search, :publisher, "Publisher" %></th>
      <th><%= sort_link @search, :date_published, "Date Published" %></th>
      <th><%= sort_link @search, :unit_cost, "Unit Cost" %></th>
      <th><%= sort_link @search, :unit_cost, "Price" %></th>
      <th><%= sort_link @search, :category, "Category" %></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr data-link="<%= book_path(book) %>" data-record_id="<%= book.id %>">
        <td><%= book.isbn %></td>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.publisher %></td>
        <td><%= d(book.date_published) %></td>
        <td><%= number_to_currency book.unit_cost, :precision => 2 %></td>
        <td><%= number_to_currency book.price, :precision => 2 %></td>
        <td><%= book.category.humanize %></td>
      </tr>
    <% end %>
  </tbody>
</table>


