<div class="jumbotron">
  <h1><%= @book.title %></h1>
  <p class="lead">Publisher: <%= @book.publisher %></p>
  <p class="lead">Author: <%= @book.author %></p>
  <p class="lead">Date Published: <%= d @book.date_published %></p>
  <p class="lead">Price: <%= number_to_currency @book.price, :precision => 2 %></p>
</div>
