
<%= link_to 'Book Shop', '/home/readme', :class => 'brand' %>
<ul class="nav">
  <li><%= link_to 'Export', new_export_path %></li>
  <li><%= link_to 'Import', new_import_path %></li>
  <li><%= link_to 'All Books', books_path %></li>
  <li><%= link_to 'Search Books', find_books_path %></li>
</ul>


